html,body{font-size:62.5%}


#galleryTitle{font-family: 'Roboto', sans-serif;
color:#434978;
text-shadow:1px 1px 1px rgba(0,0,0,.1);
font-weight:400;

}


img{max-width:100%;
box-shadow:1px 2px 2px 4px rgba(0,0,0,.8);
width:350px;
height:350px;
}


header h1{
color:#ffffff;
font-weight:bold;
font-size:40px;
font-family:arial,helvetica,sans-serif;
text-shadow:1px 1px 1px rgba(110,110,110,.5),2px 4px 4px rgba(0,0,0,1);
text-align:center;
}

.imageGallery {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.imageGallery > li {
  
  padding: 5px;
  width: 200px;
  height: 200px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}




@media all and (min-width: 480px) {
   
           #galleryTitle { font-size:2rem }
	img{
	width:350px;
height:350px;
    }
}



